*{
	box-sizing: border-box;
}


.title{
	color: pink;
}


.margin{
	background-color: red;
	width: 200px;
	height: 150px;
	margin: 5px 2px 20px 40px; /*top, right,   */
	/* width: 200px;
	height: 150px;
	margin-bottom: 30px; /*Espacio entre uno y otro elemento 
	
	*/
}

.padding{
	
	width: 200px;
	height: 150px;
	padding: 5px 20px 20px 40px;
	border: 12px solid #4CAF50;	
	
}

.boxmodel{
	background-color: grey;
	width: 202px;
	height: 220px;
	margin: 30px;
	padding: 50px
	margin-bottom: 30px;
	border: 12px solid black;
}

.boxsizing{
	background-color: yellow;
	box-sizing: border-box;
	width: 202px;
	height: 220px;
	border: 12px solid black;
	text-align: center;
}
